<a href="https://colab.research.google.com/github/yonigresearch-wq/Google-Colab-ML-Workflows/blob/main/SQL_Python_Environment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL in Python**

In this notebook, I'll practice some data queries which I learned in an academic course in Haifa. The main objective is to brush up on my skills and translate commands that I learned is SAS (Proq SQL) to SQL syntax in Python.

In [ ]:
# Install SQL environment

!pip install sqlalchemy==1.4
!pip install ipython-sql
# load sql extention in order to use it above.
%load_ext sql
# change the design of the table result
%config SqlMagic.autopandas = True

Collecting sqlalchemy==1.4
  Downloading SQLAlchemy-1.4.0.tar.gz (7.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.4/7.4 MB 26.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy==1.4) (3.2.4)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.4.0-cp312-cp312-linux_x86_64.whl size=1490505 sha256=e30a9d548acd319858ff77fb3b6331b3cf9240d40743b2fbc7878647b9542f1f
  Stored in directory: /root/.cache/pip/wheels/a6/b1/f8/f3401c8d8cde72a608b1399e8e0277aa542a70efd4defe44a5
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.44
    Uninstalling SQLAlchemy-2.0.44:
      Successfully uninstalled SQLAlchemy-2.0.44
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-adk 1.19.0 requires sqlalchemy<3.0.0,>=2.0, but you have sqlalchemy 1.4.0 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.0 which is incompatible.
Successfully installed sqlalchemy-1.4.0
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.44-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.5 kB)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading sqlalchemy-2.0.44-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 50.4 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 50.9 MB/s eta 0:00:00
Installing collected packages: sqlalchemy, jedi
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.0
    Uninstalling SQLAlchemy-1.4.0:
      Successfully uninstalled SQLAlchemy-1.4.0
Successfully installed jedi-0.19.2 sqlalchemy-2.0.44

In [ ]:
# Import data

!wget -O panamapapers.sqlite3 "https://drive.google.com/uc?export=download&id=1TSRXQv01VS_H7CKtn_bJRv5lC_DZwNHo"
%sql sqlite:///panamapapers.sqlite3
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

--2025-12-05 15:53:44--  https://drive.google.com/uc?export=download&id=1TSRXQv01VS_H7CKtn_bJRv5lC_DZwNHo
Resolving drive.google.com (drive.google.com)... 142.251.188.102, 142.251.188.113, 142.251.188.138, ...
Connecting to drive.google.com (drive.google.com)|142.251.188.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1TSRXQv01VS_H7CKtn_bJRv5lC_DZwNHo&export=download [following]
--2025-12-05 15:53:44--  https://drive.usercontent.google.com/download?id=1TSRXQv01VS_H7CKtn_bJRv5lC_DZwNHo&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.251.188.132, 2607:f8b0:400e:c1b::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.251.188.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 75624448 (72M) [application/octet-stream]
Saving to: ‘panamapapers.sqlite3’

panamapapers.sqlite 100%[===================>]  72.12M   168MB/s    in 0.4s

2025-12-05 15:53:51 (168 MB/s) - ‘panamapapers.sqlite3’ saved [75624448/75624448]

## Creating Data

In [ ]:
# Creating a table

%%sql
CREATE TABLE lets (id INTEGER,
                   name TEXT,
                   price DECIMAL,
                   PRIMARY KEY(id));

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Insert rows into table

%%sql
INSERT into lets (id, name, price)
VALUES (1, 'Green', 10.5),
        (2, 'Blue', 10.5),
        (7, 'Large Blue', 15.5);

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
3 rows affected.

Empty DataFrame
Columns: []
Index: []

## **Getting table variables Info**

In [ ]:
# Use PRAGMA and table_info to extract table variables info

%%sql

PRAGMA table_info(entity);

 * sqlite:///panamapapers.sqlite3
Done.

    cid                      name     type  notnull dflt_value  pk
0     0                        id  INTEGER        0       None   1
1     1                      name     TEXT        0       None   0
2     2              jurisdiction     TEXT        0       None   0
3     3  jurisdiction_description     TEXT        0       None   0
4     4        incorporation_date     DATE        0       None   0
5     5                    status     TEXT        0       None   0
6     6          service_provider     TEXT        0       None   0
7     7                    source     TEXT        0       None   0
8     8                      note     TEXT        0       None   0
9     9                id_address   BIGINT        0       None   0
10   10                  end_date     DATE        0       None   0
11   11                       url     TEXT        0       None   0
12   12                  lifetime  INTEGER        0       None   0

## Simple SELECT queries

In [ ]:
# Data selection - all data

%%sql
SELECT * -- select all
FROM lets;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

   id        name  price
0   1       Green   10.5
1   2        Blue   10.5
2   7  Large Blue   15.5

In [ ]:
# Data selection - by columns

%%sql
SELECT id, price
FROM lets;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

   id  price
0   1   10.5
1   2   10.5
2   7   15.5

In [ ]:
# Data selection by column and conditions

%%sql
SELECT id, price
FROM lets
WHERE price < 12 and id = 1; -- Conditioning rows

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

   id  price
0   1   10.5

In [ ]:
# Selection via Foreign keys (Kartesian Multiplication of Tables)
# This output will give us all the combinations of the data from both tables

%%sql
SELECT entity.id as entity_id, entity.name as company_name, address.id_address -- 'as' lets us rename in the output
FROM entity, address -- all possible combinations
Where company_name <> 'Big Data Crunchers Ltd.' -- not interested in Big Data Crunchers
LIMIT 20 -- limits the number of rows in the output

   sqlite:///employees.sqlite3
 * sqlite:///panamapapers.sqlite3
Done.

    entity_id                              company_name  id_address
0    10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.      494846
1    10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.    10000000
2    10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851656687
3    10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851657868
4    10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851658269
5    10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851658271
6    10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851658471
7    10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851658583
8    10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851658584
9    10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851666976
10   10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851667168
11   10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851667182
12   10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851667283
13   10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851667976
14   10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851668265
15   10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851676578
16   10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851677269
17   10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851677276
18   10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851677278
19   10000001  TIANSHENG INDUSTRY AND TRADING CO., LTD.  4851677976

In [ ]:
# Examining distinct values in a column using 'DISTINCT'

%%sql
SELECT DISTINCT price
FROM lets;

 * sqlite:///panamapapers.sqlite3
Done.

   price
0   10.5
1   15.5

## More Complex SELECT Queries

In [ ]:
# Import data

!wget -O employees.sqlite3 "https://drive.google.com/uc?export=download&id=1ThJIPMRMlXOedWG2JIse0fod1wxc6XGu"
%sql sqlite:///employees.sqlite3
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

--2025-11-30 07:47:02--  https://drive.google.com/uc?export=download&id=1ThJIPMRMlXOedWG2JIse0fod1wxc6XGu
Resolving drive.google.com (drive.google.com)... 172.217.218.100, 172.217.218.138, 172.217.218.102, ...
Connecting to drive.google.com (drive.google.com)|172.217.218.100|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1ThJIPMRMlXOedWG2JIse0fod1wxc6XGu&export=download [following]
--2025-11-30 07:47:02--  https://drive.usercontent.google.com/download?id=1ThJIPMRMlXOedWG2JIse0fod1wxc6XGu&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 108.177.96.132, 2a00:1450:4013:c06::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|108.177.96.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2097152 (2.0M) [application/octet-stream]
Saving to: ‘employees.sqlite3’

employees.sqlite3   100%[===================>]   2.00M  --.-KB/s    in 0.01s

2025-11-30 07:47:03 (169 MB/s) - ‘employees.sqlite3’ saved [2097152/2097152]

In [ ]:
# Let's say we want to see common last names, e.g., frequency > 150 from the employees table
# We can use 'HAVING' with aggregate functions (after we use 'GROUP BY')

%%sql
SELECT last_name as 'Family Name'
FROM employees
GROUP BY last_name -- group by last name so we can use an aggregate function
HAVING COUNT(last_name) > 150;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

   Family Name
0       Gewali
1      Huxford
2    Kawashima
3    Kawashimo
4    Kowalchuk
5       Lowrie
6     Mawatari
7         Pews
8        Qiwen
9     Sewelson
10        Suwa
11       Wixon
12    Wuwongse

In [ ]:
# Let's try to look at the first 20 salaries of employees that worked after august 20'th 1999 (not including)
# We can do this by using nested queries, i.e., an inner query which is nested within and outer query
# Note that our output still contains the slaries before the given date for employees that worked before and after the date

%%sql
SELECT emp_no as '# Employee',  salary as 'Salary', from_date
FROM salaries
WHERE emp_no IN (
  -- This is how the nested query looks
  SELECT emp_no
  FROM salaries
  WHERE from_date > 1999-08-20)
LIMIT 20;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

    # Employee  Salary   from_date
0        10184   48586  1997-12-26
1        10184   51710  1998-12-26
2        10184   52576  1999-12-26
3        10184   53720  2000-12-25
4        10184   57547  2001-12-25
5        10264   60522  1997-07-16
6        10264   61675  1998-07-16
7        10264   63238  1999-07-16
8        10264   65226  2000-07-15
9        10264   66229  2001-07-15
10       10264   66168  2002-07-15
11       10328   46286  1998-07-17
12       10328   49310  1999-07-17
13       10328   49807  2000-07-16
14       10328   49711  2001-07-16
15       10328   51715  2002-07-16
16       10605   43162  1993-07-01
17       10605   42662  1994-07-01
18       10605   42171  1995-07-01
19       10605   41968  1996-06-30

In [ ]:
# We want to see all columns for the 5 most senior employees, i.e., by employment date
# We can again use a nested query for this

%%sql
SELECT *
FROM employees
WHERE emp_no IN (
  SELECT emp_no
  FROM salaries
  ORDER BY from_date
  LIMIT 5);

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

   emp_no  birth_date first_name     last_name gender   hire_date
0  110022  1956-09-12  Margareta    Markovitch      M  1985-01-01
1  110085  1959-10-28       Ebru         Alpin      M  1985-01-01
2  110183  1953-06-24    Shirish  Ossenbruggen      F  1985-01-01
3  110303  1956-06-08  Krassimir       Wegerle      F  1985-01-01
4  110511  1957-07-08   DeForest      Hagimont      M  1985-01-01

In [ ]:
# Now we want to see all emplyees, s.t. the 2'nd lettter of thier last name is an a
# We an use the 'LIKE' statement for this, which allows lookups by string queries

%%sql
SELECT *
FROM employees
WHERE last_name LIKE '_a%'
/* Note:The underscore '_' denotes that there is a letter before the 'a'
   The % denotes that there is some string (can also be empty) afetr the 'a'.
   This could just as well be replaced with an arbitrary number of %%% symbols */
;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

     emp_no  birth_date first_name  last_name gender   hire_date
0     10264  1958-09-08     Nalini  Kawashimo      F  1997-07-16
1     10328  1955-06-28  Serenella  Kawashima      M  1994-01-16
2     11217  1954-07-01     Kellie   Mawatari      M  1987-09-22
3     11542  1960-05-11       Maia  Kawashima      M  1985-06-20
4     11915  1954-08-16     Miomir   Mawatari      M  1987-08-29
..      ...         ...        ...        ...    ...         ...
586  499191  1961-05-23    Mihalis   Mawatari      M  1986-05-29
587  499263  1963-01-31   Hidefumi  Kawashima      F  1991-04-30
588  499494  1954-07-27     Golgen  Kawashimo      F  1995-12-27
589  499593  1964-01-31     Mantis  Kawashima      F  1990-07-16
590  499695  1953-03-26   Srinidhi  Kawashimo      F  1989-06-07

[591 rows x 6 columns]

## Joining tables - Inner Joins

In [ ]:
# Joining tables using Kartesian multiplication
# recall that Kartesian multiplication given us all possible cominations
# so we need to filter the rows to only those that the
# foreign key from the primary table is the same as primary key of the second table

%%sql

SELECT e.id, e.name as company_name, e.id_address, a.id_address, a.address
FROM entity e, address a
WHERE e.id_address = a.id_address
-- can denote entity by e and address by a, so we can reference them  faster when selecting columns
LIMIT 20;

 * sqlite:///panamapapers.sqlite3
Done.

,id,company_name,id_address,id_address,address
0,0,Big Data Crunchers Ltd.,10000000,10000000,"504 rue de la requête Hesscuhel, Paris, France"
1,10000001,"TIANSHENG INDUSTRY AND TRADING CO., LTD.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
2,10000002,"NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
3,10000003,"HOTFOCUS CO., LTD.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
4,10000004,"SKY-BLUE GIFTS & TOYS CO., LTD.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
5,10000005,FORTUNEMAKER INVESTMENTS CORPORATION,124156254250691,124156254250691,LOYAL PORT LIMITED 8/F; CRAWFORD TOWER 99 JERV...
6,10000006,8808 HOLDING LIMITED,22613476451093,22613476451093,TWC MANAGEMENT LIMITED SUITE D; 19/F RITZ PLAZ...
7,10000007,KENT DEVELOPMENT LIMITED,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
8,10000008,BONUS TRADE LIMITED,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
9,10000009,AMARANDAN LTD.,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
10,10000010,NEW IDEA LIMITED,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
11,10000011,HUGH POWER LIMITED,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
12,10000012,ULTIMATE GROUP LIMITED,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
13,10000013,VICTORY GROUP LIMITED,123957483684293,123957483684293,GO SHINE MANAGEMENT CO.; LTD. ROOM B; 5F.; NO....
14,10000014,CHARTER MARK LIMITED,120731457083622,120731457083622,"AFOR LAW FIRM, SICHUAN CHENGDU SHUANGNAN PIK W..."
15,10000015,"Wide International Trading Co., Ltd.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
16,10000016,"NINGBO RAPID INTERNATIONAL TRADING CO., LTD.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
17,10000017,ANGELIKA INTERNATIONAL LTD.,142060071134550,142060071134550,MOSSACK FONSECA & CO. (SINGAPORE) PTE LTD. 19...
18,10000018,CHEM D-T Corp.,123957483684293,123957483684293,GO SHINE MANAGEMENT CO.; LTD. ROOM B; 5F.; NO....
19,10000019,HTSS ET CAPITAL LIMITED,22613476451093,22613476451093,TWC MANAGEMENT LIMITED SUITE D; 19/F RITZ PLAZ...

In [ ]:
# Joining tables using 'JOIN ... ON' statements
# This is a different way of implemeting the same execution

%%sql

SELECT e.id, e.name as company_name, e.id_address, a.id_address, a.address
FROM entity e JOIN address a ON e.id_address = a.id_address
-- can again denote entity by e and address by a
LIMIT 20;

 * sqlite:///panamapapers.sqlite3
Done.

,id,company_name,id_address,id_address,address
0,0,Big Data Crunchers Ltd.,10000000,10000000,"504 rue de la requête Hesscuhel, Paris, France"
1,10000001,"TIANSHENG INDUSTRY AND TRADING CO., LTD.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
2,10000002,"NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
3,10000003,"HOTFOCUS CO., LTD.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
4,10000004,"SKY-BLUE GIFTS & TOYS CO., LTD.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
5,10000005,FORTUNEMAKER INVESTMENTS CORPORATION,124156254250691,124156254250691,LOYAL PORT LIMITED 8/F; CRAWFORD TOWER 99 JERV...
6,10000006,8808 HOLDING LIMITED,22613476451093,22613476451093,TWC MANAGEMENT LIMITED SUITE D; 19/F RITZ PLAZ...
7,10000007,KENT DEVELOPMENT LIMITED,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
8,10000008,BONUS TRADE LIMITED,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
9,10000009,AMARANDAN LTD.,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
10,10000010,NEW IDEA LIMITED,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
11,10000011,HUGH POWER LIMITED,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
12,10000012,ULTIMATE GROUP LIMITED,168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
13,10000013,VICTORY GROUP LIMITED,123957483684293,123957483684293,GO SHINE MANAGEMENT CO.; LTD. ROOM B; 5F.; NO....
14,10000014,CHARTER MARK LIMITED,120731457083622,120731457083622,"AFOR LAW FIRM, SICHUAN CHENGDU SHUANGNAN PIK W..."
15,10000015,"Wide International Trading Co., Ltd.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
16,10000016,"NINGBO RAPID INTERNATIONAL TRADING CO., LTD.",168350018331811,168350018331811,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
17,10000017,ANGELIKA INTERNATIONAL LTD.,142060071134550,142060071134550,MOSSACK FONSECA & CO. (SINGAPORE) PTE LTD. 19...
18,10000018,CHEM D-T Corp.,123957483684293,123957483684293,GO SHINE MANAGEMENT CO.; LTD. ROOM B; 5F.; NO....
19,10000019,HTSS ET CAPITAL LIMITED,22613476451093,22613476451093,TWC MANAGEMENT LIMITED SUITE D; 19/F RITZ PLAZ...

In [ ]:
# Now imagine a scenario when we want to join two tables, but we do not a foreign key
# We can however join them using a third "mediator" table that has foreign keys for both

%%sql

SELECT *
FROM intermediary i, entity e, assoc_inter_entity a
WHERE e.id = a.entity AND
      a.inter = i.id
      AND e.name = 'Big Data Crunchers Ltd.';

 * sqlite:///panamapapers.sqlite3
Done.

,id,name,source_id,note,id_address,status_id,url,id,name,jurisdiction,...,service_provider,source,note,id_address,end_date,url,lifetime,inter,entity,source_id
0,5000,Pacher Banking S.A.,2,None,None,0,None,0,Big Data Crunchers Ltd.,BAH,...,None,Dummy data (neither from Panama Papers nor Off...,None,10000000,None,None,None,5000,0,2
1,5001,Plouf Financial Services Corp.,2,None,None,0,None,0,Big Data Crunchers Ltd.,BAH,...,None,Dummy data (neither from Panama Papers nor Off...,None,10000000,None,None,None,5001,0,2

## **Joining tables - Outer Joins**

In [ ]:
# Say we want to keep all rows in one of our tables,
# even those with missing value in our second table.
# Then, we can use 'LEFT/RIGHT OUTER JOIN'
# Let's look at examples

# Left outer join - keeps all rows of the left table

%%sql

SELECT *
FROM entity LEFT OUTER JOIN address
ON entity.id_address = address.id_address;

 * sqlite:///panamapapers.sqlite3
Done.

,id,name,jurisdiction,jurisdiction_description,incorporation_date,status,service_provider,source,note,id_address,end_date,url,lifetime,address,countries,country_codes,id_address,source_id
0,0,Big Data Crunchers Ltd.,BAH,Bahamas,2007-04-02,Active,None,Dummy data (neither from Panama Papers nor Off...,None,1.000000e+07,None,None,NaN,"504 rue de la requête Hesscuhel, Paris, France",FRA,France,1.000000e+07,2.0
1,10000001,"TIANSHENG INDUSTRY AND TRADING CO., LTD.",SAM,Samoa,2006-03-23,Defaulted,Mossack Fonseca,Panama Papers,None,1.683500e+14,2013-02-15,http://offshoreleaks.icij.org/nodes/10000001,2521.0,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,HKG,Hong Kong,1.683500e+14,1.0
2,10000002,"NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.",SAM,Samoa,2006-03-27,Defaulted,Mossack Fonseca,Panama Papers,None,1.683500e+14,2014-02-15,http://offshoreleaks.icij.org/nodes/10000002,2882.0,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,HKG,Hong Kong,1.683500e+14,1.0
3,10000003,"HOTFOCUS CO., LTD.",SAM,Samoa,2006-01-10,Defaulted,Mossack Fonseca,Panama Papers,None,1.683500e+14,2012-02-15,http://offshoreleaks.icij.org/nodes/10000003,2227.0,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,HKG,Hong Kong,1.683500e+14,1.0
4,10000004,"SKY-BLUE GIFTS & TOYS CO., LTD.",SAM,Samoa,2006-01-06,Defaulted,Mossack Fonseca,Panama Papers,None,1.683500e+14,2009-02-15,http://offshoreleaks.icij.org/nodes/10000004,1136.0,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,HKG,Hong Kong,1.683500e+14,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215891,1000050535,"Maples, Coconuts & Carrots Ltd.",BVI,British Virgin Islands,2014-02-16,Active,None,Dummy data (neither from Panama Papers nor Off...,None,NaN,None,None,NaN,None,None,None,NaN,NaN
215892,1000050559,"Rice, Pines & Cress Corporation",ANG,British Anguilla,2014-02-21,Active,None,Dummy data (neither from Panama Papers nor Off...,None,NaN,None,None,NaN,None,None,None,NaN,NaN
215893,1000050563,"Grapevine, Chesnuts & Rice Ltd.",BAH,Bahamas,2014-02-21,Active,None,Dummy data (neither from Panama Papers nor Off...,None,NaN,None,None,NaN,None,None,None,NaN,NaN
215894,1000050566,"Bearberries, Roses & Plantains Corporation",SEY,Seychelles,2014-02-22,Active,None,Dummy data (neither from Panama Papers nor Off...,None,NaN,None,None,NaN,None,None,None,NaN,NaN
215895,1000050568,"Dewberries, Dindles & Grapevine Corporation",PMA,Panama,2014-02-22,Active,None,Dummy data (neither from Panama Papers nor Off...,None,NaN,None,None,NaN,None,None,None,NaN,NaN

In [ ]:
# Right outer join


%%sql


-- This is the general syntax, however it will not run since
-- RIGHT OUTER JOIN is not currently supported in this python environment

/*
SELECT *
FROM entity RIGHT OUTER JOIN address
ON entity.id_address = entity.id_address;
*/

-- Instead we can simply reverse the order of the tables and use LEFT OUTER JOIN


SELECT *
FROM address LEFT OUTER JOIN entity
ON entity.id_address = address.id_address;

 * sqlite:///panamapapers.sqlite3
Done.

,address,countries,country_codes,id_address,source_id,id,name,jurisdiction,jurisdiction_description,incorporation_date,status,service_provider,source,note,id_address,end_date,url,lifetime
0,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,HKG,Hong Kong,168350018331811,1,10104220.0,"23 OH CO., LTD.",BVI,British Virgin Islands,2003-12-04,Defaulted,Mossack Fonseca,Panama Papers,None,1.683500e+14,2007-04-30,http://offshoreleaks.icij.org/nodes/10104220,1243.0
1,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,HKG,Hong Kong,168350018331811,1,10029768.0,26 Trading Corp.,SEY,Seychelles,2013-05-31,Active,Mossack Fonseca,Panama Papers,None,1.683500e+14,None,http://offshoreleaks.icij.org/nodes/10029768,NaN
2,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,HKG,Hong Kong,168350018331811,1,10015062.0,"3H GROUP CO., LIMITED",ANG,British Anguilla,2012-02-06,Active,Mossack Fonseca,Panama Papers,None,1.683500e+14,None,http://offshoreleaks.icij.org/nodes/10015062,NaN
3,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,HKG,Hong Kong,168350018331811,1,10143627.0,"3U (HK) Trading Co., Limited",BVI,British Virgin Islands,2010-01-06,Active,Mossack Fonseca,Panama Papers,None,1.683500e+14,None,http://offshoreleaks.icij.org/nodes/10143627,NaN
4,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,HKG,Hong Kong,168350018331811,1,10126694.0,"3W Net Technology Co., Ltd.",BVI,British Virgin Islands,2007-06-06,Defaulted,Mossack Fonseca,Panama Papers,None,1.683500e+14,2008-10-31,http://offshoreleaks.icij.org/nodes/10126694,513.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214767,HOEGH CAPITAL PARTNERS SERVICES (GUERNSEY) LIM...,GGY;GBR,Guernsey;United Kingdom,100405575098240,1,NaN,None,None,None,None,None,None,None,None,NaN,None,None,NaN
214768,FURUHASHI & ASSOCIATES IWO BUILDING 501 5-5 LI...,JPN,Japan,185852792132323,1,NaN,None,None,None,None,None,None,None,None,NaN,None,None,NaN
214769,ANTONY PEREZ; ACCA MAAT CATPEREZ 49 CLOS ORANG...,JEY;GBR,Jersey;United Kingdom,89116542305452,1,NaN,None,None,None,None,None,None,None,None,NaN,None,None,NaN
214770,MR. GEORGE MACHAN LES RONCIERS LA ROUTE DES GE...,JEY;GBR,Jersey;United Kingdom,10003935669101,1,NaN,None,None,None,None,None,None,None,None,NaN,None,None,NaN
214771,"504 rue de la requête Hesscuhel, Paris, France",FRA,France,10000000,2,0.0,Big Data Crunchers Ltd.,BAH,Bahamas,2007-04-02,Active,None,Dummy data (neither from Panama Papers nor Off...,None,1.000000e+07,None,None,NaN

## **Joining tables - Natural Joins**

In [ ]:
# We can also use natural joins, which can sometimes be the most intuitive


%%sql

SELECT *
FROM entity NATURAL JOIN address;

/*Note that we did not have to specify the column on which to join the tables.
Instead, the only column with the same name was selected*/

 * sqlite:///panamapapers.sqlite3
Done.
Done.

Empty DataFrame
Columns: []
Index: []

## **Group by**

In [ ]:
# In order to use 'GROUP BY' we need:
# a. a grouping variable
# b. a aggregating function (or a few)

## Note that without using an aggregating function, we get the same output as

# /*
# SELECT DISTINCT status
# FROM entity;
# */


%%sql

SELECT status
FROM entity
GROUP BY status;

 * sqlite:///panamapapers.sqlite3
Done.

                                status
0                                 None
1                               Active
2                     Bad debt account
3     Change in administration pending
4                        Changed agent
5                            Defaulted
6                         Discontinued
7                            Dissolved
8              Dissolved shelf company
9                       In liquidation
10                       In transition
11                         Inactivated
12       Relocated in new jurisdiction
13                   Resigned as agent
14  Resigned as agent of shelf company
15                       Shelf company
16  Shelf company not possible to sell
17                       Trash company

In [ ]:
# Let's try only using an aggregating function
# This will give us the number of total rows in the table

%%sql

SELECT COUNT(*)
FROM entity;

 * sqlite:///panamapapers.sqlite3
Done.

   COUNT(*)
0    215896

In [ ]:
# Let's use both now
# We can use count and group by to obtain category frequencies
# We can also do this using multiple grouping variables,
# in order to obtain contingency tables

%%sql

SELECT status, jurisdiction, count(*) as frequency
FROM entity
GROUP BY status, jurisdiction;

 * sqlite:///panamapapers.sqlite3
Done.

            status jurisdiction  frequency
0             None          BVI          1
1             None          PMA          2
2           Active          ANG       1901
3           Active          BAH       2172
4           Active          BLZ        101
..             ...          ...        ...
169  Trash company          ANG          1
170  Trash company          BAH         15
171  Trash company          BVI         90
172  Trash company          PMA        770
173  Trash company          SEY          2

[174 rows x 3 columns]

In [ ]:
# Let's do some practice on the employees tables

# Import data
!wget -O employees.sqlite3 "https://drive.google.com/uc?export=download&id=1ThJIPMRMlXOedWG2JIse0fod1wxc6XGu"
%sql sqlite:///employees.sqlite3
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

--2025-12-05 15:53:51--  https://drive.google.com/uc?export=download&id=1ThJIPMRMlXOedWG2JIse0fod1wxc6XGu
Resolving drive.google.com (drive.google.com)... 142.251.188.102, 142.251.188.113, 142.251.188.138, ...
Connecting to drive.google.com (drive.google.com)|142.251.188.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1ThJIPMRMlXOedWG2JIse0fod1wxc6XGu&export=download [following]
--2025-12-05 15:53:51--  https://drive.usercontent.google.com/download?id=1ThJIPMRMlXOedWG2JIse0fod1wxc6XGu&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.251.188.132, 2607:f8b0:400e:c1b::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.251.188.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2097152 (2.0M) [application/octet-stream]
Saving to: ‘employees.sqlite3’

employees.sqlite3   100%[===================>]   2.00M  --.-KB/s    in 0.01s

2025-12-05 15:53:53 (210 MB/s) - ‘employees.sqlite3’ saved [2097152/2097152]

In [ ]:

# Let's see how many women and men and women their are that started working after august 1'st 1989

%%sql

SELECT gender, COUNT(*) as frequency
FROM employees
WHERE hire_date > '1989-08-01'
GROUP BY gender;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

  gender  frequency
0      F        446
1      M        708

In [ ]:
# The tables dept_emp and Dept_manager have the exact same variables
# We can take the union of them to combine them
# We can use the AS source statment to track which rows are employees and which are managers

%%sql

SELECT 'Employee' AS source, *
FROM dept_emp UNION
SELECT 'Manager' AS source, *
FROM Dept_manager;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

        source  emp_no dept_no   from_date     to_date
0     Employee   10184    d009  1997-12-26  9999-01-01
1     Employee   10264    d005  1997-07-16  9999-01-01
2     Employee   10328    d005  1998-07-17  9999-01-01
3     Employee   10605    d006  1993-07-01  9999-01-01
4     Employee   10735    d009  1985-10-29  9999-01-01
...        ...     ...     ...         ...         ...
2705   Manager  111534    d008  1991-04-08  9999-01-01
2706   Manager  111692    d009  1985-01-01  1988-10-17
2707   Manager  111784    d009  1988-10-17  1992-09-08
2708   Manager  111877    d009  1992-09-08  1996-01-03
2709   Manager  111939    d009  1996-01-03  9999-01-01

[2710 rows x 5 columns]

In [ ]:
# Next, we want to look at the max salary of the employee born on January 31'st 1964

%%sql

SELECT e.first_name, e.last_name, MAX(s.salary)
FROM employees e, salaries s
WHERE e.emp_no = s.emp_no AND e.birth_date = '1964-01-31'
GROUP BY e.first_name, e.last_name;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

  first_name  last_name  MAX(s.salary)
0     Mantis  Kawashima          58710

In [ ]:
# Now let's look at the different departments that employee number 499902 worked at
# and let's also get the dates that they started and finished i every department

# The employee name is in employees
# The employee department is in dept_emp
# The department name is in departments

# Note that we could have also done this via:

# SELECT e.emp_no, e.first_name, e.last_name, de.from_date, de.to_date, de.dept_no, d.dept_name
# FROM employees e JOIN dept_emp de, departments d
# ON e.emp_no = de.emp_no AND de.dept_no = d.dept_no
# WHERE e.emp_no = 499902;

%%sql

SELECT e.emp_no, e.first_name, e.last_name, de.from_date, de.to_date, de.dept_no, d.dept_name
FROM employees e, dept_emp de, departments d
WHERE e.emp_no = de.emp_no AND de.dept_no = d.dept_no AND e.emp_no = 499902;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

,emp_no,first_name,last_name,from_date,to_date,dept_no,dept_name
0,499902,Aloke,Wuwongse,1999-08-02,2000-11-28,d007,Sales
1,499902,Aloke,Wuwongse,2000-11-28,9999-01-01,d009,Customer Service

In [ ]:

# Let's now compare the mean salaries of employees by gender

%%sql

SELECT e.gender, ROUND(AVG(s.salary),2)
FROM employees e, salaries s
WHERE e.emp_no = s.emp_no
GROUP BY e.gender;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.

  gender  ROUND(AVG(s.salary),2)
0      F                63871.53
1      M                64651.94

In [ ]:
# Let's say we want to count how many males and females have larger than average maximal salary

%%sql

DROP TABLE max_salaries;

CREATE TABLE max_salaries AS
SELECT e.emp_no, MAX(s.salary) max_salary
FROM employees e JOIN salaries s ON e.emp_no = s.emp_no
GROUP BY e.emp_no;

SELECT e.gender, COUNT(*)
FROM employees e, max_salaries ms
WHERE e.emp_no = ms.emp_no
AND ms.max_salary > (SELECT AVG(max_salary) FROM max_salaries)
GROUP BY e.gender;

 * sqlite:///employees.sqlite3
   sqlite:///panamapapers.sqlite3
Done.
Done.
Done.

  gender  COUNT(*)
0      F       443
1      M       689